/*#region CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  padding: 0;
  margin: 0;
  display: block;
}

/*#endregion*/

/*#region Variables*/
:root {
  /* Background color */
  --bg-light: white;
  --bg-dark: #22405c;

  /* Text color */
  --text-color-primary-light: #384347;
  --text-color-secondary-light: #028dff;
  --text-color-text-light: #384347;
  --icon-color-light: #b9b9b9;
  --line-gray-light: #b9b9b9;

  --text-color-primary-dark: white;
  --text-color-text-dark: #e0e0e0;
}
/*#endregion*/
body {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0.32cm;
}

/*#region Printing*/
.page {
  background: var(--page-bg-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;

  border: 1px solid black;
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

@page {
  size: 21cm 29.7cm;
  padding: 0;
  margin: 0mm;
  border: none;
  border-collapse: collapse;
}
/*#endregion*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/*#region Left panel*/

.left-panel {
  background-color: var(--bg-dark);
  color: var(--text-color-primary-dark);

  padding: 1.27cm 0.63cm;

  width: 55%;
}

.left-panel .profile-pic {
  height: 4.4cm;
}
/*#endregion*/

/*#region Rigth panel*/
.right-panel {
  background-color: var(--bg-light);
  color: var(--text-color-primary-light);

  padding: 1.27cm 0.63cm;
}

.header {
  height: 4.4cm;

  display: flex;
  flex-direction: column;
}

.header .name {
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  font-size: 0.84cm;
  font-weight: 500;
  line-height: 1;
}

.header .professional-title {
  margin-top: 0.12cm;

  color: var(--text-color-secondary-light);
}

.contact-info {
  margin-top: 0.35cm;

  display: flex;
  flex-direction: row;
  gap: 0.35cm;

  flex-wrap: wrap;
  row-gap: 0.21cm;
}

.text-and-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.16cm;
}

.text-and-icon .icon {
  color: var(--icon-color-light);
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 0.56cm;
}

/*#endregion*/

/*#region Section*/
section {
  display: flex;
  flex-direction: column;
  gap: 0.35cm;
  text-align: justify;
}

section h2 {
  text-transform: uppercase;
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 0.49cm;
}

section h2:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 0.16cm;
  background-color: var(--line-gray-light);
}
/*#endregion*/

/*#region experience*/
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 0.56cm;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
}

.experience-title {
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 0.42cm;

  line-height: 1;
}

.experience-company-list {
  display: flex;
  flex-direction: column;
  gap: 0.56cm;
}

.experience-company-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.experience-company-name {
  font-family: "Rubik", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  color: var(--text-color-secondary-light);
}

.experience-details ul {
  list-style: disc;
  padding-left: 0.42cm;
}
/*#endregion*/

#open-source {
  gap: 0.1cm;
}

#open-source .description > div:nth-child(1) {
  color: var(--text-color-secondary-light);
}

#open-source .description {
  display: flex;
  flex-direction: row;
  gap: 0.21cm;
}

/*#region tools*/
.tool-list {
  display: flex;
  flex-direction: column;
  gap: 0.32cm;
}

.tool {
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
}

.tool-progress {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--line-gray-light);
  border-radius: 2px;

  position: relative;
}

.tool-progress:after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: var(--text-color-secondary-light);

  position: absolute;
}

.tool-progress[progress="90"]:after {
  width: 90%;
}

.tool-progress[progress="80"]:after {
  width: 80%;
}

.tool-progress[progress="70"]:after {
  width: 70%;
}

.tool-progress[progress="60"]:after {
  width: 60%;
}

.tool-progress[progress="50"]:after {
  width: 50%;
}

.tool-progress[progress="40"]:after {
  width: 40%;
}

.tool-progress[progress="30"]:after {
  width: 30%;
}

.tool-progress[progress="20"]:after {
  width: 20%;
}

/*#endregion*/

.value-list {
  display: flex;
  flex-direction: column;
  gap: 0.32cm;
}

.value-title {
  font-size: 0.42cm;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.degree-first-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*#region languages*/
.lang-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 0.35cm;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
}

.lang-strength {
  font-size: 0.21cm;
  color: var(--text-color-secondary-light);
}
/*#endregion*/
